<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionAereolinea.UI</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionAereolinea.UI.styles.css" asp-append-version="true" />
</head>

<body>

    <div class="wrapper d-flex flex-column min-vh-100">

        
        <div class="d-flex flex-grow-1">

         
            <div id="sidebar-wrapper" class="d-flex flex-column">
                <div class="sidebar-heading text-center py-4 fw-bold">Gestión Aérea</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index">Inicio</a>
                    <a class="list-group-item list-group-item-action" asp-controller="GestionDeAerolineas" asp-action="Index">Aerolíneas</a>
                    <a class="list-group-item list-group-item-action" asp-controller="GestionDeAviones" asp-action="Index">Aviones</a>
                    <a class="list-group-item list-group-item-action" asp-controller="GestionDeAvionesActivos" asp-action="Index">Aviones Activos</a>
                    <a class="list-group-item list-group-item-action" asp-controller="GestionDeAvionesInactivos" asp-action="Index">Aviones Inactivos</a>
                   

                </div>
            </div>

            <div id="page-content-wrapper" class="flex-grow-1">
                <main role="main" class="p-4">
                    @RenderBody()
                </main>
            </div>

        </div>

        <footer class="text-center">
            &copy; 2026 - Sistema de Gestión Aérea
        </footer>

    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>