@model GestionAereolinea.Model.Avion

@{
    ViewData["Title"] = "Editar Avión";
}

@if (ViewData["ProblemasAlInsertar"] as bool? == true)
{
    <div class="alert alert-danger" role="alert">
        Problemas al actualizar el avión
    </div>
}

<div class="container text-center mt-4">

    <h1 class="titulo-sistema mb-4">Editar Avión</h1>
    <hr />

    <div class="container mt-5">
        <div class="d-flex justify-content-center">

            <div class="card shadow" style="max-width: 600px; border-radius: 15px; overflow: hidden; min-height: 30vh;">
                <div class="row g-0">

                 
                    <div class="col-md-6">
                        <img src="https://images.unsplash.com/photo-1559268950-2d7ceb2efa3a?q=80&w=764&auto=format&fit=crop"
                             class="img-fluid h-100"
                             style="object-fit: cover;" />
                    </div>

                  
                    <div class="col-md-6">
                        <div class="card-body p-4">
                            <h4 class="text-center mb-3">Editar Avión</h4>

                            <form asp-action="Edit">

                              
                                <input type="hidden" asp-for="Id" />

                                <div class="mb-3">
                                    <input asp-for="Nombre" class="form-control" placeholder="Nombre del avión">
                                </div>

                                <div class="mb-3">
                                    <input asp-for="Modelo" class="form-control" placeholder="Modelo">
                                </div>

                                <div class="mb-3">
                                    <input asp-for="Capacidad" class="form-control" placeholder="Capacidad">
                                </div>

                              
                                <div class="mb-3">
                                    <input asp-for="AerolineaId" class="form-control" placeholder="ID de Aerolínea">
                                </div>

                                
                                <div class="mb-3">
                                    <select asp-for="Estado" class="form-control">
                                        <option value="1" selected="@Model.Estado == Estado.Activo">Activo</option>
                                        <option value="2" selected="@Model.Estado == Estado.InActivo">Inactivo</option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-warning w-100">
                                    Actualizar
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}